<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Thirdyear IT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/TYStyle.css') }}">
</head>
<body>
<header>
    <div class="yearheading">
      <h1>Third Year</h1>
    </div>
</header>

<div class="main">   
<!-- Semester 5 -->
<h1 class="heading">SEMESTER : FIFTH</h1>
<div class="subject pyramid">
  <div class="row">
    <div class="sub">
      <img src="{{ url_for('static', filename='imgfolder/os.png') }}" alt="Operating System">
      <h3>Operating System</h3>
      <a href="/subfolder/os"><button>Open</button></a>
    </div>
    <div class="sub">
      <img src="{{ url_for('static', filename='imgfolder/set.png') }}" alt="Software Engineering and Testing">
      <h3>Software Engineering and Testing</h3>
      <a href="/subfolder/set"><button>Open</button></a>
    </div>
    <div class="sub">
      <img src="{{ url_for('static', filename='imgfolder/dcn.png') }}" alt="Advance Computer Networking">
      <h3>Advance Computer Networking</h3>
      <a href="/subfolder/dcn"><button>Open</button></a>
    </div>
    <div class="sub">
      <img src="{{ url_for('static', filename='imgfolder/seminar.png') }}" alt="Seminar and Project Initiation Course">
      <h3>Seminar and Project Initiation Course</h3>
      <a href="/subfolder/seminar"><button>Open</button></a>
    </div>
  </div>
  <div class="row">
    <div class="sub">
      <img src="{{ url_for('static', filename='imgfolder/itr.png') }}" alt="Internship">
      <h3>Internship</h3>
      <a href="/subfolder/itr"><button>Open</button></a>
    </div>
    <div class="sub">
      <img src="{{ url_for('static', filename='imgfolder/ends.png') }}" alt="Entrepreneurship Development and Startups">
      <h3>Entrepreneurship Development and Startups</h3>
      <a href="/subfolder/ends"><button>Open</button></a>
    </div>
  </div>
</div>

<h1 class="heading">SEMESTER : SIXTH</h1>
<div class="subject pyramid">
  <div class="row">
    <div class="sub">
      <img src="{{ url_for('static', filename='imgfolder/managment.png') }}" alt="Management">
      <h3>Management</h3>
      <a href="/subfolder/management"><button>Open</button></a>
    </div>
    <div class="sub">
      <img src="{{ url_for('static', filename='imgfolder/eti.png') }}" alt="Emerging Trends In IT">
      <h3>Emerging Trends In Computer Engineering and Information Technology</h3>
      <a href="/subfolder/eti"><button>Open</button></a>
    </div>
    <div class="sub">
      <img src="{{ url_for('static', filename='imgfolder/wmn.png') }}" alt="Wireless and Mobile Network">
      <h3>Wireless and Mobile Network</h3>      
      <a href="/subfolder/wmn"><button>Open</button></a>
    </div>
    <div class="sub">
      <img src="{{ url_for('static', filename='imgfolder/ml.png') }}" alt="Machine Learning">
      <h3>Machine Learning</h3>
      <a href="/subfolder/ml"><button>Open</button></a>
    </div>
  </div>
  <div class="row">
    <div class="sub">
      <img src="{{ url_for('static', filename='imgfolder/script.png') }}" alt="Client Side Scripting">
      <h3>Client Side Scripting</h3>
      <a href="/subfolder/script"><button>Open</button></a>
    </div>
    <div class="sub">
      <img src="{{ url_for('static', filename='imgfolder/mad.png') }}" alt="Mobile Application Development">
      <h3>Mobile Application Development</h3>
      <a href="/subfolder/mad"><button>Open</button></a>
    </div>
    <div class="sub">
      <img src="{{ url_for('static', filename='imgfolder/cpe.png') }}" alt="Capstone Project">
      <h3>Capstone Project</h3>
      <a href="/subfolder/cpe"><button>Open</button></a>
    </div>
  </div>
</div>
</div>
</body>
</html>
